{% extends "::admin.html.twig" %}
{% block body %}
    <section class="content-header">
        <h1>
            Picture Uplaod
        </h1>
    </section>

    <section class="content">
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-offset-1 col-md-10">
                <!-- /.row -->

                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Picture Upload</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form id="pubcreateform" action="" method="post" enctype="multipart/form-data">
                            {% if pic != '' %}
                            <div class="col-md-6">
                                <p id="link">{{ pic }}</p>
                               <a onclick="copyToClipboard('#link')" href="#">Click for copy link</a>
                            </div>
                                <script>
                                    function copyToClipboard(element) {
                                        var $temp = $("<input>");
                                        $("body").append($temp);
                                        $temp.val($(element).text()).select();
                                        document.execCommand("copy");
                                        $temp.remove();
                                    }
                                </script>
                            {% endif %}
                            <div class="col-sm-6">
                                <label for="" class="label label-info">Select Image</label>
                                <input type="file" name="pic" id="doc" class="form-control">
                            </div>
                            <div class="col-sm-12">
                                <input style="margin-top: 10px" type="submit" value="Update" class="btn btn-sm btn-info pull-right">
                            </div>
                        </form>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->


            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
